---
---

@import "{{ site.theme }}";

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Base styling */
button[name="button"] {
    /* Typography */
    font-family: 'Arial', sans-serif; /* you can choose your desired font */
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;

    /* Dimensions and Layout */
    padding: 10px 25px;
    margin: 10px;

    /* Border and Corners */
    border: none; 
    border-radius: 25px; /* Makes the button edges rounded */

    /* Background and Colors */
    background: linear-gradient(90deg, #6EE7B7 0%, #3FA7D6 100%); /* A gradient background color */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
    outline: none; /* Removes the outline when the button is focused */

    /* Interaction Effects */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s; /* Smoothens the hover effect transitions */
}

/* Hover effect */
button[name="button"]:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Increase shadow depth when hovering */
    transform: translateY(-3px); /* Slightly moves the button upwards */
}

/* Active (Click) effect */
button[name="button"]:active {
    transform: translateY(1px); /* Slightly moves the button downwards when clicked */
}
